In [26]:
mylist1=[1,3.5,'Biswajit',2+4j,True]

In [27]:
mylist1

[1, 3.5, 'Biswajit', (2+4j), True]

In [28]:
type(mylist1)

list

In [29]:
mylist2=[4,5.6,'Sarita',5+6j,False]

In [30]:
mylist2

[4, 5.6, 'Sarita', (5+6j), False]

In [31]:
mylist3=mylist1+mylist2

In [32]:
mylist3

[1, 3.5, 'Biswajit', (2+4j), True, 4, 5.6, 'Sarita', (5+6j), False]

In [33]:
mylist3.

SyntaxError: invalid syntax (<ipython-input-33-865ef593a607>, line 1)

In [34]:
import collections
ctr=collections.Counter(mylist3)

ctr

In [35]:
ctr

Counter({1: 2,
         3.5: 1,
         'Biswajit': 1,
         (2+4j): 1,
         4: 1,
         5.6: 1,
         'Sarita': 1,
         (5+6j): 1,
         False: 1})

In [40]:
new_list=mylist3.reverse()

In [43]:
new_list=mylist3[::-1]

In [44]:
type(new_list)

list

In [45]:
new_list

[1, 3.5, 'Biswajit', (2+4j), True, 4, 5.6, 'Sarita', (5+6j), False]

In [46]:
mylist3

[False, (5+6j), 'Sarita', 5.6, 4, True, (2+4j), 'Biswajit', 3.5, 1]

In [47]:
mylist4=mylist3.reverse()

In [48]:
mylist4

In [52]:
myset=set(range(1,11))

In [53]:
myset

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [54]:
type(myset)

set

In [55]:
myset1=set(range(5,16))

In [56]:
myset1

{5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}

In [57]:
myset[0]

TypeError: 'set' object is not subscriptable

In [58]:
set1=myset.intersection()

In [59]:
set1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [68]:
for item in myset:
    if item in myset1:
        print(item)

5
6
7
8
9
10

In [69]:
for item in myset:
    if item not in myset1:
        print(item)

1
2
3
4

In [70]:
myset.remove(7)

In [71]:
myset

{1, 2, 3, 4, 5, 6, 8, 9, 10}

In [72]:
myset.add(7)

In [73]:
myset

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [74]:
myset1.remove(7)

In [75]:
myset1

{5, 6, 8, 9, 10, 11, 12, 13, 14, 15}

In [76]:
dict1={'WB':'300000','Odisha':'200000','AndhaPradesh':'250000','UP':'500000','HP':'450000'}

In [77]:
dict1

{'WB': '300000',
 'Odisha': '200000',
 'AndhaPradesh': '250000',
 'UP': '500000',
 'HP': '450000'}

In [78]:
dict1(keys)

NameError: name 'keys' is not defined

In [81]:
dict1_keys=dict1.keys()

In [82]:
dict1_keys

dict_keys(['WB', 'Odisha', 'AndhaPradesh', 'UP', 'HP'])

In [83]:
dict2_values=dict1.values()

In [84]:
dict2_values

dict_values(['300000', '200000', '250000', '500000', '450000'])

In [85]:
dict1.update('WB':'300001')

SyntaxError: invalid syntax (<ipython-input-85-4c3d2fc3065b>, line 1)

In [86]:
dict3={'WB':'300001'}

In [87]:
dict1.update(dict3)

In [88]:
dict1

{'WB': '300001',
 'Odisha': '200000',
 'AndhaPradesh': '250000',
 'UP': '500000',
 'HP': '450000'}

In [89]:
dict3={'ChhatishGarh':'9908773'}

In [90]:
dict1.update(dict3)

In [91]:
dict1

{'WB': '300001',
 'Odisha': '200000',
 'AndhaPradesh': '250000',
 'UP': '500000',
 'HP': '450000',
 'ChhatishGarh': '9908773'}

In [92]:
a=3,b=5,c=10

SyntaxError: cannot assign to literal (<ipython-input-92-054659a9ec2b>, line 1)

In [93]:
a=3

In [94]:
a

3

In [95]:
b=5

In [96]:
c=10

In [97]:
a=3,b=5

SyntaxError: cannot assign to literal (<ipython-input-97-8b086c2f1a4f>, line 1)

In [98]:
c

10

In [99]:
a

3

In [101]:
print(a/=b)

SyntaxError: invalid syntax (<ipython-input-101-8779b4073208>, line 1)

In [102]:
c*=5

In [103]:
c

50

In [104]:
a/=b

In [105]:
a

0.12

In [106]:
print(range(55,75))

range(55, 75)

In [107]:
numbers=range(55,75)

In [108]:
print(numbers)

range(55, 75)

In [109]:
range(55,75)

range(55, 75)

In [1]:
for item in range(55,75):
    print(item)

55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74

In [4]:
for item in range(55,75):
    if item<55 or item >75:
        print(item)

In [5]:
def myfunc(item):
    if item<55 or item >75:
        print(item)

In [6]:
myfunc(77)

77

In [7]:
myfunc(67)